__pycache__/functions.cpython-311.pyc
bonus/class_example.py
bonus/converters.py
bonus/exercise1.py
bonus/exercise2.py
bonus/exercise3.py
bonus/exercise4.py
bonus/exercise5.py
bonus/importweb.py
bonus/parsers.py
bonus/scratch.py
bonus/__pycache__/converters.cpython-311.pyc
bonus/__pycache__/parsers.cpython-311.pyc
files/data.txt
bonus/exercise6.py
